html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px
}

.controlPanel {
  display: flex;
}

.display {
  width: 100%;
}