body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlPanel {
  display: flex;
}
